<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="meteocat">
  <head>
      <!-- META -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

      <title>App to show compare wheather forecast of two towns in Catalonia</title>
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="main.js"></script>
  </head>
  <body ng-controller="mainController" ng-init="init()">
    <div class="container">
      <!-- Panel 1 -->
      <div class="col-md-4 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label for="selectedTown1">Municipi:</label>
              <select class="form-control" name="selectedTown1" id="selectedTown1" ng-model="selectedTown1" ng-change="getTownForecast(1,selectedTown1)">
                <option ng-repeat="town in town_metadata" value="{{town.codi}}">{{town.nom}}</option>
              </select><br>
              <label for="selectedRegion">Comarca:</label>
              <h5 id="selectedRegion">{{town[1].region}}</h5>
            </div>
            <div class="row">
              <uib-tabset>
                <uib-tab ng-repeat="dia in town[1].dies" heading="{{dia.data}}">
                  <div class="col-md-6">
                    <br>
                    <img src="/img/{{dia.variables.estatCel.simbol}}.png" class="img-responsive center-block" alt="Responsive image">
                    <h3 class="text-center">Estat del cel</h3>
                  </div>
                  <div class="col-md-6">
                    <div class"row">
                      <h3 class="text-center">Precipitació</h3>
                    </div>
                    <div class"row">
                        <uib-progressbar class="progress-striped active" value="dia.variables.precipitacio.valor">{{dia.variables.precipitacio.valor}} {{dia.variables.precipitacio.unitat}}</uib-progressbar>
                    </div>
                    <div class="row">
                      <h2 class="text-danger text-center">{{dia.variables.tmax.valor}} {{dia.variables.tmax.unitats}}</h2>
                      <h2 class="text-primary text-center">{{dia.variables.tmin.valor}} {{dia.variables.tmin.unitats}}</h2>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
      <!-- Panel 2 -->
      <div class="col-md-4 col-md-offset-1">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              <label for="selectedTown2">Municipi:</label>
              <select class="form-control" name="selectedTown2" id="selectedTown2" ng-model="selectedTown2" ng-change="getTownForecast(2,selectedTown2)">
                <option ng-repeat="town in town_metadata" value="{{town.codi}}">{{town.nom}}</option>
              </select><br>
              <label for="selectedRegion">Comarca:</label>
              <h5 id="selectedRegion">{{town[2].region}}</h5>
            </div>
            <div class="row">
              <uib-tabset>
                <uib-tab ng-repeat="dia in town[2].dies" heading="{{dia.data}}">
                  <div class="col-md-6">
                    <br>
                    <img src="/img/{{dia.variables.estatCel.simbol}}.png" class="img-responsive center-block" alt="Responsive image">
                    <h3 class="text-center">Estat del cel</h3>
                  </div>
                  <div class="col-md-6">
                    <div class"row">
                      <h3 class="text-center">Precipitació</h3>
                    </div>
                    <div class"row">
                        <uib-progressbar class="progress-striped active" value="dia.variables.precipitacio.valor">{{dia.variables.precipitacio.valor}} {{dia.variables.precipitacio.unitat}}</uib-progressbar>
                    </div>
                    <div class="row">
                      <h2 class="text-danger text-center">{{dia.variables.tmax.valor}} {{dia.variables.tmax.unitats}}</h2>
                      <h2 class="text-primary text-center">{{dia.variables.tmin.valor}} {{dia.variables.tmin.unitats}}</h2>
                    </div>
                  </div>
                </uib-tab>
              </uib-tabset>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

